.logo-name
{
  color: 'inherit' ;
  font-size:'22px';
  font-style: italic;
  font-weight: bolder;
}

.sidebar 
{
  font-size: 20px;
  background-color:#ba7a30 ;
}

.sidebar-footer
{
  padding: '20px 5px';
  cursor: pointer;
}
.sidebar-footer:hover
{
    margin: 15px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 6px;
    padding: '20px 5px'
}

.sidebar-label{
  color: #fff;
}
.sidebar-label:hover
{
  color: #f8bebe;
  
}




