.card-hover {
    transition: transform 0.4s ease;
    cursor: pointer;
    
    border: 1px solid #ba7a30;
}

.card-hover:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.Card.Text
{
    font-weight: 10px;
    color: black;
}