.header_logo {
    margin: 5px;
    width: 130px;
    height: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

}

.header_buttons {
    flex: 1;
    /* flex=1 represent the short for flex-grow -1 (how much available space an element should take up), f
    lex-shrink - 1 (how much the element should shrink up when screen is small) */
    list-style: none;
    text-align: end;
}

ul li {
    display: inline-block;
    margin-right: 30px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(66, 64, 64);
}

.head-btn {
    text-decoration: none;
    color: black;
}

.head-btn:hover {
    color: rgb(9, 67, 125);
}